@tailwind base;
@tailwind components;
@tailwind utilities;

.athiti-extralight {
    font-family: "Athiti", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.athiti-light {
    font-family: "Athiti", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.athiti-regular {
    font-family: "Athiti", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.athiti-medium {
    font-family: "Athiti", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.athiti-semibold {
    font-family: "Athiti", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.athiti-bold {
    font-family: "Athiti", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Regular at weight 400 */
@font-face {
    font-family: 'Noto Sans Thai';
    font-weight: 400;
    src: url(/src/assets/fonts/NotoSansThai-Regular.ttf);
}

/* Medium at weight 500 */
@font-face {
    font-family: 'Noto Sans Thai';
    font-weight: 500;
    src: url(/src/assets/fonts/NotoSansThai-Medium.ttf);
}

/* Bold at weight 700 */
@font-face {
    font-family: 'Noto Sans Thai';
    font-weight: 700;
    src: url(/src/assets/fonts/NotoSansThai-Bold.ttf);
}